@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-card {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
  }
}